{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    
    {% if msg %}
    <div class="alert alert-primary" role="alert">
       {{msg}}
     </div>
    {% endif %}
    <div class="container mt-3">
        <h2>Change Password</h2>
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}

          <div class="mb-3">
            <label for="pwd">Old Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter Old Password" name="old_password">
          </div>
    
          <div class="mb-3">
            <label for="pwd">New Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter New Password" name="new_password">
          </div>
    
          <div class="mb-3">
            <label for="pwd">Confirm New Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter Confirm New Password" name="cnew_password">
          </div>
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" required> Accept
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
      </div>

</body>
</html>
{% endblock %}