{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- <h1>Welcome to Login Page</h1> -->

    {% if msg %}
    <div class="alert alert-primary" role="alert">
       {{msg}}
     </div>
    {% endif %}
    <div class="container mt-3">
        <h2>Forgot Password</h2>
        <form action="{% url 'forgot-password' %}" method="post">
            {% csrf_token %}
      
          <div class="mb-3">
            <label for="pwd">Email:</label>
            <input type="email" class="form-control" id="pwd" placeholder="Enter Email" name="email">
          </div>

        
    
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" > Accept
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Get OTP</button>
         
        </form>
      </div>

</body>
</html>
{% endblock %}